.container {
    width: 90%;
}


.container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.wide-card {
    width: 95%;
}

.column {
    justify-content: center;
    align-items: center;
    text-align: center;
}